body {
  display: flex;
  justify-content: center;
  padding: 5rem;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* .payment-card-outer {
  display: flex;
  height: 645px;
  width: 420px;
  background-color: rgb(240, 237, 237);
  justify-content: center;
  padding: 1rem;
  border-radius: 3rem;
} */
.payment-card-inner {
  height: 645px;
  width: 420px;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.4px 2px 3.5px 13.5px rgba(188, 188, 188, 0.549);
}
.payment-card-inner-top {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 210px;
  width: 420px;
  background-color: #0c12ca;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0.863);
  font-size: 32px;

  padding: 1rem;
  margin-top: 2rem;
  font-weight: 700;
}
.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info,
.base-info {
  width: 17rem;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
}
.base-info {
  margin-top: 2rem;
}
.price-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 237, 237);
  padding: 1.2rem 2rem;
  margin-top: 2rem;
  gap: 3rem;
  border-radius: 0.8rem;
}

.price {
  margin: 0;
  font-size: 28px;
  padding: 0;
}
.month {
  font-size: 20px;
  font-weight: 200;
}
.shoe {
  background-color: #94ca0c;
  padding: 0.5rem;
  border-radius: 2rem;
}
